.repo_card{
    background-color: #2b3566;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 6px;
    margin-top: 6px;
}

.repo_card h2, a {
    font-size: large;
    text-decoration: underline;
}

.repo_card p {
    text-align: left;
}
