.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  .repo-card {
    border:black solid 1px;
    border-radius: 10px;
    max-width: 300px;
    width: 250px;
    text-overflow: ellipsis;
    height: auto;
    max-height: 300px;
  }
