.app {
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app h1 {
    text-align: center;
}

.sidebar {
    width: 100%;
}

.outlet {
    flex-grow: 1;
    overflow-y: auto;
    padding: 3rem;
    justify-self: center;
    align-self: center;
}
